h2{
  text-align: center;
  width: 100%;
  font-size: 1.9rem;
  background-color: rgb(192, 192, 192);
  margin-bottom: 10px;
  padding: 5px;
}
.skillSet{
  display:flex;
  flex-direction: column;
  grid-row: 2 / span 1;
}